@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 3rem;
}

@layer components {
    .card {
        /*
        border-radius: 1rem;
        margin: 1.5rem;
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        border-width: 3px;
        border-color: rgb(22 78 99);
        */
    }
}